# VS code
.vscode/

# Node_modules
node_modules/
package-lock.json

# Shopify
/assets/*
!/assets/my-style.css
/config/
/layout/*
!/layout/theme.liquid
/locales/
/sections/
/snippets/
/templates/*
!/templates/blog.json
!/templates/collection.json
!/templates/index.json
!/templates/list-collections.json
!/templates/page.contact.json
!/templates/product.json
