/**
 * Header Logo
 */
@media (max-width: 29.99em) {
  .header__logo-img, .header__logo-ratio-box {
    max-width: 240px !important;
  }
}
/**
 * Primary Nav
 */
.primary-nav__link {
  font-size: 1rem;
}
.primary-nav__link:hover {
  border-color: #0094a4;
  color: #0094a4;
}

/**
 * Main Visual
 */
.mainVisual img {
  width: 100%;
}

/**
 * Section
 */
.section h2.section__title-text {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 4rem;
  padding: 0.75rem 1.5rem;
  border-bottom: 2px solid #0094a4;
  color: #0094a4;
  line-height: 1.44;
}
.section h2.section__title-text::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -21px;
  width: 0;
  height: 0;
  border-width: 21px 0 0 21px;
  border-style: solid;
  border-color: #0094a4 transparent transparent transparent;
}
.section h2.section__title-text::after {
  content: "";
  position: absolute;
  left: calc(50% + 2px);
  bottom: -15px;
  width: 0;
  height: 0;
  border-width: 16px 0 0 17px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: none !important;
  transition: none !important;
}

/**
 * Section - Media
 */
.section--media {
  width: 100%;
  max-width: 740px;
  margin: 0 auto 60px;
  padding: 0 30px;
}
.section--media__lead {
  font-size: 1.25rem;
  text-align: center;
}
.section--media__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.section--media__media:nth-child(1) {
  flex: 0 1 270px;
  max-width: 270px;
}
.section--media__media:nth-child(2) {
  flex: 0 1 225px;
  max-width: 225px;
}
.section--media__media:nth-child(3) {
  flex: 0 1 135px;
  max-width: 135px;
}

/**
 * Section - Dish
 */
.section--dish {
  padding: 60px 30px;
  background-color: #f9f3e5;
}
.section--dish__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
  background-color: #f9ec78;
}
.section--dish__dish {
  flex: 0 1 480px;
  width: 100%;
  max-width: 480px;
  padding: 30px 15px;
  background-color: #f9ec78;
}
@media (min-width: 1200px) {
  .section--dish__dish {
    flex: 0 1 540px;
    max-width: 540px;
    padding: 30px;
  }
}

/**
 * Section - About
 */
.section--about {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px;
  padding: 0 15px;
}
.section--about__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 1080px;
  margin: 0 auto;
}
.section--about__title {
  flex: 0 1 120px;
}
.section--about__container {
  flex: 0 3 360px;
  text-align: center;
}
.section--about__image {
  flex: 0 4 480px;
}

/**
 * Section - Feature
 */
.section--feature {
  position: relative;
  width: 100%;
  padding: 60px 0 240px;
  background-color: #f9f3e5;
}
.section--feature__heading {
  width: min(80%, 600px);
  margin: 0 auto;
}
@media (min-width: 600px) {
  .section--feature__heading {
    margin: 30px auto;
  }
}
.section--feature__row {
  position: relative;
  top: 180px;
  z-index: 10;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 600px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .section--feature__row {
    max-width: 1200px;
  }
}
.section--feature__feature {
  flex: 0 0 300px;
  max-width: 300px;
}
.section--feature__content {
  padding: 0 20px;
  font-size: 1rem;
}
.section--feature__subheading {
  padding: 0.75rem 0;
  border-left: 3px solid #0094a4;
  border-bottom: 3px solid #0094a4;
  border-radius: 0 0 0 20px;
  font-size: 1rem;
  line-height: 1.44;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
}
.section--feature__subheading::before {
  content: "";
  position: absolute;
  right: 50px;
  bottom: -21px;
  width: 0;
  height: 0;
  border-width: 21px 21px 0 0;
  border-style: solid;
  border-color: #0094a4 transparent transparent transparent;
}
.section--feature__subheading::after {
  content: "";
  position: absolute;
  right: 54px;
  bottom: -14px;
  width: 0;
  height: 0;
  border-width: 15px 14px 0 0;
  border-style: solid;
  border-color: #f9f3e5 transparent transparent transparent;
}
.section--feature__strong {
  color: #0094a4;
  font-size: 1.5em;
}
.section--feature__large {
  font-size: 1.25em;
}
.section--feature__bg {
  position: absolute;
  top: min(50vw, 240px);
  left: 0;
  right: 0;
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

/**
 * Section - Review
 */
.section--review {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px;
  padding: 0 15px;
}
.section--review__heading {
  max-width: 600px;
  margin: 30px auto;
}
.section--review__lead1 {
  position: relative;
  width: 180px;
  margin: 2rem auto;
  border: 1px solid #000;
  border-radius: 15px;
  font-weight: 700;
  text-align: center;
}
.section--review__lead1::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 0;
  height: 0;
  border-width: 14px 14px 0 0;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}
.section--review__lead1::after {
  content: "";
  position: absolute;
  left: calc(50% + 1px);
  bottom: -10px;
  width: 0;
  height: 0;
  border-width: 11px 12px 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  transform: none !important;
  transition: none !important;
}
.section--review__lead2 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 30px;
  padding: 0 0.5em 30px;
  border-bottom: 2px dotted #000;
  color: #0094a4;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.44;
  text-align: center;
}
.section--review__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  max-width: 1080px;
  margin: 0 auto;
}
.section--review__review {
  flex: 0 1 480px;
  width: 100%;
  max-width: 480px;
}
@media (min-width: 1200px) {
  .section--review__review {
    flex: 0 1 540px;
    max-width: 540px;
  }
}

/**
 * Section - Concept
 */
.section--concept {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 1200px) {
  .section--concept {
    margin-bottom: 60px;
  }
}
.section--concept__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
}
.section--concept__concept {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  flex: 0 1 600px;
  max-width: 600px;
  margin-bottom: 1rem;
}
.section--concept__image {
  width: calc(100% - 30px);
  margin: 0 auto 9px;
  padding: 9px;
  border: 1px solid #999;
  border-radius: 9px;
}
@media (min-width: 600px) {
  .section--concept__image {
    flex: 0 1 240px;
    max-width: 240px;
  }
}
.section--concept__content {
  flex: 0 1 360px;
  max-width: 360px;
  padding: 0 15px;
}
.section--concept__subheading {
  margin: 0;
  color: #0094a4;
  font-size: 1.17rem;
}
.section--concept__subheading + p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

/**
 * Quick Shop Trigger
 */
.quick-shop__trigger {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.quick-shop__trigger:hover {
  opacity: 1;
}

/**
 * RTE
 */
.rte h2 {
  position: relative;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  border-left: 3px solid #0094a4;
  border-bottom: 3px solid #0094a4;
  border-radius: 0 0 0 20px;
  color: #0094a4;
  font-size: 1.75rem;
  line-height: 1.44;
}
.rte h2::before {
  content: "";
  position: absolute;
  right: 50px;
  bottom: -21px;
  width: 0;
  height: 0;
  border-width: 21px 21px 0 0;
  border-style: solid;
  border-color: #0094a4 transparent transparent transparent;
}
.rte h2::after {
  content: "";
  position: absolute;
  right: 54px;
  bottom: -14px;
  width: 0;
  height: 0;
  border-width: 15px 14px 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.rte h3 {
  color: #006c7a;
  font-size: 1.25rem;
  line-height: 1.44;
}
.rte h3::before {
  content: "";
  display: inline-block;
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #006c7a;
}
.rte h3 + figure > img,
.rte h3 + p > img {
  margin-top: 0;
}
.rte p + h3 {
  margin-top: 2rem;
}
.rte p {
  line-height: 1.8;
}
.rte img, .rte .fluid-width-video-wrapper {
  margin: 1rem auto 0;
}
.rte table tr:first-child td {
  border-top: 1px solid var(--color--text-lightest);
}
.rte table td:first-child {
  padding-left: 12px;
  border-left: 1px solid var(--color--text-lightest);
  background-color: var(--color--bg-dark);
}
.rte table td {
  border-right: 1px solid var(--color--text-lightest);
}
.rte .my-note {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color--bg-dark);
}
.rte .my-tags {
  color: var(--color--text-light);
  font-size: 80%;
}

/**
 * RTE - Article, Page
 */
.article__content.rte a,
.page__content.rte a {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 3rem;
  padding: 0.75rem 3rem;
  border: none;
  border-radius: 2rem;
  background-color: #0094a4;
  color: var(--color--btn);
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  word-break: break-word;
  outline: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.article__content.rte a:hover,
.page__content.rte a:hover {
  opacity: 0.85;
}

/**
 * Apps
 */
.ngc-note-attr-field {
  margin: 0 !important;
  line-height: 1.6 !important;
  text-align: left !important;
}