/**
 * Reset
 */
.chakra-checkbox[type=checkbox] {
  width: initial;
  height: initial;
  border: none;
}

/**
 * RTE
 */
.product-single__secondary-blocks .rte h2 {
  position: relative;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  border-left: 3px solid #0094a4;
  border-bottom: 3px solid #0094a4;
  border-radius: 0 0 0 20px;
  color: #0094a4;
  line-height: 1.44;
}
.product-single__secondary-blocks .rte h2::before {
  content: "";
  position: absolute;
  right: 50px;
  bottom: -21px;
  width: 0;
  height: 0;
  border-width: 21px 21px 0 0;
  border-style: solid;
  border-color: #0094a4 transparent transparent transparent;
}
.product-single__secondary-blocks .rte h2::after {
  content: "";
  position: absolute;
  right: 54px;
  bottom: -14px;
  width: 0;
  height: 0;
  border-width: 15px 14px 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.product-single__secondary-blocks .rte p {
  line-height: 1.8;
}
.product-single__secondary-blocks .rte img, .product-single__secondary-blocks .rte .fluid-width-video-wrapper {
  margin: 1rem auto 0;
}
.product-single__secondary-blocks .rte table tr:first-child td {
  border-top: 1px solid var(--color--text-lightest);
}
.product-single__secondary-blocks .rte table td:first-child {
  padding-left: 12px;
  border-left: 1px solid var(--color--text-lightest);
  background-color: var(--color--bg-dark);
}
.product-single__secondary-blocks .rte table td {
  border-right: 1px solid var(--color--text-lightest);
}
.product-single__secondary-blocks .rte .my-note {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--color--bg-dark);
}
.product-single__secondary-blocks .rte .my-tags {
  color: var(--color--text-light);
  font-size: 80%;
}